# mongo-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: mern-app
spec:
  type: NodePort
  selector:
    app: mongo
  ports:
    - port: 27017
      targetPort: 27017
      nodePort: 30002
