services:
  # -------------------------
  # PART I (DEPLOYMENT STACK)
  # -------------------------
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - mern-net

  backend:
    build:
      context: ./server
    container_name: backend
    restart: unless-stopped
    env_file:
      - ./server/.env.production
    environment:
      - NODE_ENV=production
    depends_on:
      - mongo
    networks:
      - mern-net
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: /api
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - mern-net
    ports:
      - "80:80"

  # -------------------------
  # PART II (JENKINS CI BUILD)
  # - code mounted as volume
  # - different names/ports
  # -------------------------
  mongo_ci:
    profiles: ["ci"]
    image: mongo:6
    container_name: mongo_ci
    restart: unless-stopped
    volumes:
      - mongo_ci_data:/data/db
    networks:
      - mern-net-ci

  backend_ci:
    profiles: ["ci"]
    image: node:22-alpine
    container_name: backend_ci
    working_dir: /app
    volumes:
      - ./server:/app
    environment:
      - NODE_ENV=test
      - MONGO_URI=mongodb://mongo_ci:27017/mern_test
      - JWT_SECRET=dummy_for_ci_only
    depends_on:
      - mongo_ci
    networks:
      - mern-net-ci
    ports:
      - "5100:5000"
    command: sh -c "npm ci && npm run build && npm test --if-present"

  frontend_ci:
    profiles: ["ci"]
    image: node:18-alpine
    container_name: frontend_ci
    working_dir: /app
    volumes:
      - ./client:/app
    networks:
      - mern-net-ci
    ports:
      - "3100:3000"
    command: sh -c "npm ci && npm run build"

networks:
  mern-net:
    driver: bridge
  mern-net-ci:
    driver: bridge

volumes:
  mongo_data:
  mongo_ci_data:
